body {
    background-image: url(../img/Fondo.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.banner-principal {
    background-image: url(../img/Banner_Mesa.jpg);
    height: 90px;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.contenedores {
    height: auto;
}

.container_botones {
    width: 1400px;
    height: 250px;
    margin-top: 15%;
}

.img-botones {
    width: 300px;
    height: 100px;
}

a {
    cursor: pointer;
}

.container_botones_secundarios {
    width: 1400px;
    height: 250px;
    margin-top: 12%;
}

.formulario-login {
    margin-top: 60px;

    background-color: #ffffff;
}